.quick_links::before{
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    height: 9px;
    width: 9px;
    border: 2px solid #FF870F;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: white;
}